Source: aaa-build-scripts
Section: devel
Priority: optional
Maintainer: Jubei Mitsuyoshi <jubei.house.of.five.masters@gmail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/Jubei-Mitsuyoshi/aaa-build-scripts

Package: aaa-build-scripts
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, reprepro, pbuilder
Description: simple bash scripts that provide
functionality around reprepro and pbuilder
 
